@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Nunito', system-ui, sans-serif;
  }
}

@layer utilities {
  .bg-navy-100 {
    background-color: #d4dce7;
  }
}
